:root {
    /* Colors */
    --pinkv1: #D46A83;
    --pinkv2: #FF9DB6;
    --green: #B8D46A;
    --white: #FFFFFF;
    --grey: #D9D9D9;

    --active: #FF9DB6;
}

html {
    background-color: var(--pinkv1);
    font-family: 'Gloria Hallelujah';
}

/* Fonts */
.ficon {
    font-size: 32px;
    color: var(--white);
}

.foption {
    font-size: 24px;
    color: var(--white);
}

.ftitle {
    font-size: 64px;
    color: var(--white);
}

.fcontent_title {
    font-size: 48px;
    color: var(--white);
}

.fcontent_text {
    font-size: 32px;
    color: var(--white);
}

/* .gloria-hallelujah-regular {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
  font-style: normal;
} */

/* Side Nav Bar */
.selected {
    background-color: var(--pinkv2);
    border-radius: 5px;
}
.side_nav {
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-right: 24px;
    padding-left: 24px;

    width: 250px;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;

}

.side_nav_top {
    text-align: left;
    color: var(--white);
}

.icon_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 0px;
}

.side_nav_bottom {
    display: flex;
    flex-direction: column;
    align-items: left;

    gap: 50px;
    flex: 1;
}

.option_container {
    display: flex;
    flex-direction: row;

    align-items: center;

    padding: 15px;
}

.option_container > i {
    flex-shrink: 0;
    margin-right: 50px;
}

.option_container > a {
    flex: 1;
    text-align: right;
    text-decoration: none;
}

/* Main Content */

.main {
    height: 100%;
    margin-left: 298px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* TODO: Add Main Top */

.main_bottom {
    flex: 1;
}

.main_content {
    background-color: var(--pinkv2);
    color: var(--white);
    border-radius: 15px;
}

.page_title {
    width: 1100px;
    height: 125px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 64px;
}

/* Search Bar */

.search_container {
    display: flex;
    width: max-content;
    margin: 20px auto 0 auto;
    padding: 20px;
    border-radius: 40px;

    background-color: var(--pinkv2);
    transition: box-shadow 0.25s;
}

.search_container:focus-within {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
}

.search {
    font-size: 20px;
    font-family: 'Lexend', sans-serif;
    margin-left: 20px;
    outline: none;
    border: none;
    background: transparent;
    width: 300px;
}

.search::placeholder, .fa-search {
    color: rgba(0, 0, 0, 0.5);
}

/* Product Display Grid */

.results_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* Individual Product Cards */

.product_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 10px;

  border-radius: 10px;
  overflow: hidden;
  background-color: var(--green);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s;
}

.product_card:hover {
  transform: scale(1.02);
}

.product_card img {
    width: 100%;
    height: 100%;
    max-height: 180px;
    object-fit: scale-down;
    border-radius: 4px;
}

.product_name {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: var(--white)
}

.product_price {
    font-size: 16px;
    text-align: center;
    color: var(--pinkv1)
}